body{
  padding: 0px;
  background-color: #161716;
}
.App {
  text-align: center;
}

.App-movies{
  padding : 40px;
}

.App-movie{
  border-radius: 5px;
  box-shadow: 0 0 20px 2px black;
  display: block;
  width : 14vw;
  height: 40vh;
  margin: 10px 5px;
  float : left;
  color: white;
  padding : 2px;
  background-color: #000000a1;
  background-blend-mode: overlay;
  background-size: cover;
}

.App-movieone{
  width: auto;
  float : left;
  padding : 7px;
  font-size : 15px;
  color: white;
}